.DS_Store
*.swp
*~.nib

build/
Build/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.xcuserstate
xcuserdata


Neoplasm.xcodeproj/project.xcworkspace/xcuserdata/nicki.xcuserdatad/UserInterfaceState.xcuserstate
*.xcworkspacedata

*.xcbkptlist

Build/Products/Debug-iphoneos/Neoplasm.app.dSYM/Contents/Resources/DWARF/Neoplasm

*.dat

*.dep

*.xcbkptlist

Build/Products/Debug-iphoneos/Neoplasm.app.dSYM/Contents/Resources/DWARF/Neoplasm

Build/Intermediates/Neoplasm.build/Debug-iphoneos/Neoplasm.build/build-state.dat

Build/Intermediates/Neoplasm.build/Debug-iphoneos/Neoplasm.build/Objects-normal/armv7s/CRCell.o

Build/Intermediates/Neoplasm.build/Debug-iphoneos/Neoplasm.build/Neoplasm.dep

*.xcbkptlist

Neoplasm.xcodeproj/xcuserdata/nicki.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Neoplasm.xcodeproj/project.pbxproj
